@model TaiChinh.Core.ViewModel.TienModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Name = "_Script";
}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <!-- top tiles -->
            <div class="row">
                <div class="tile_count">
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Tổng tiền</span>
                        <div class="count">@Model.ToTalMoneyThuInYear</div>
                        <span class="count_bottom"><i class="green"></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Tổng chi</span>
                        <div class="count">@Model.ToTalMoneyChiInYear</div>
                        <span class="count_bottom"><i class="green"></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Tổng  thu một tháng</span>
                        <div class="count">@Model.ToTalMoneyThuInMonth</div>
                        <span class="count_bottom"><i class="green"></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Tổng chi một tháng</span>
                        <div class="count">@Model.ToTalMoneyChiInMonth</div>
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Còn lại được chi trong một tháng</span>
                        <div class="count green">@(Model.ToTalMoneyThuInMonth-Model.ToTalMoneyChiInMonth)</div>
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Thu một ngày</span>
                        <div class="count">@Model.ToTalMoneyThuInToDay</div>
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Chi một ngày</span>
                        <div class="count">@Model.ToTalMoneyChiInToDay</div>
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4  tile_stats_count">
                        <span class="count_top">Còn lại được chi trong một ngày</span>
                        <div class="count green">@(Model.ToTalMoneyThuInToDay - Model.ToTalMoneyChiInToDay)</div>
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i></span>
                    </div>
                    @*<div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
            <div class="count">7,325</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>*@
                </div>
            </div>
            <!--top tiles-->
            <!--table-->
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Chi tiêu</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 ">
                                    <div class="card-box table-responsive">
                                        <p class="text-muted font-13 m-b-30">
                                            DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                                        </p>
                                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Tên</th>
                                                    <th>Ngân hàng</th>
                                                    <th>Tiền</th>
                                                    <th>Tỷ lệ</th>
                                                    <th>Ngày tạo</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                                @foreach (var item in Model.MoneyChiInMonth)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@item.TaiKhoan.Name</td>
                                                        <td>@item.Money</td>
                                                        <td>@item.TyLe.Name</td>
                                                        <td>@item.DateCreate.ToString()</td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a class="dropdown-item" href="@Url.Action("Update",item.Id)">Update</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3  bg-white">
                                    <div class="x_title">
                                        <h2>Tiền chi một ngày</h2>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 ">
                                        @foreach (var item in Model.TyLeChiInToDay)
                                        {
                                            <div>
                                                <p>@item.Name</p>
                                                @if (Model.TyLeThuInMonth.Where(x => item.Money > x.Money && item.Id == x.Id).Any())
                                                {
                                                    <div class="">
                                                        <span class="btn btn-danger">@item.Money</span>
                                                        @*<div class="progress progress_sm" style="width: 1234%;">
                                            <div class="progress-bar bg-danger" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: 80%;"></div>
                                        </div>*@
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="">
                                                        <span class="btn btn-danger">@item.Money</span>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="card-box table-responsive">
                                    <h2>Chi tiêu một tháng</h2>
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Ngân hàng</th>
                                                <th>Tiền</th>
                                                <th>Tỷ lệ</th>
                                                <th>Ngày tạo</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            @foreach (var item in Model.MoneyChiInMonth)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.TaiKhoan.Name</td>
                                                    <td>@item.Money</td>
                                                    <td>@item.TyLe.Name</td>
                                                    <td>@item.DateCreate.ToString()</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a class="dropdown-item" href="@Url.Action("Update",item.Id)">Update</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="card-box table-responsive">
                                    <h2>Tiền thu một tháng</h2>
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Ngân hàng</th>
                                                <th>Tiền</th>
                                                <th>Tỷ lệ</th>
                                                <th>Ngày tạo</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            @foreach (var item in Model.MoneyChiInMonth)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.TaiKhoan.Name</td>
                                                    <td>@item.Money</td>
                                                    <td>@item.TyLe.Name</td>
                                                    <td>@item.DateCreate.ToString()</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a class="dropdown-item" href="@Url.Action("Update",item.Id)">Update</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--table-->
        </div>
    </div>

